<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookCherish</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmailSendDemo</display-name>
    <servlet-name>EmailSendDemo</servlet-name>
    <servlet-class>sis.com.email.EmailSendDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendDemo</servlet-name>
    <url-pattern>/EmailSendDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpVerification</display-name>
    <servlet-name>OtpVerification</servlet-name>
    <servlet-class>sis.com.email.OtpVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpVerification</servlet-name>
    <url-pattern>/OtpVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>sis.com.user.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>sis.com.database.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcessor</display-name>
    <servlet-name>LoginProcessor</servlet-name>
    <servlet-class>sis.com.user.LoginProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcessor</servlet-name>
    <url-pattern>/LoginProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerPassword</display-name>
    <servlet-name>ControllerPassword</servlet-name>
    <servlet-class>sis.com.pwd.ControllerPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPassword</servlet-name>
    <url-pattern>/ControllerPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailCheck</display-name>
    <servlet-name>EmailCheck</servlet-name>
    <servlet-class>sis.com.email.EmailCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailCheck</servlet-name>
    <url-pattern>/EmailCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>sis.com.image.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateImageController</display-name>
    <servlet-name>UpdateImageController</servlet-name>
    <servlet-class>sis.com.image.UpdateImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateImageController</servlet-name>
    <url-pattern>/UpdateImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImageController</display-name>
    <servlet-name>GetImageController</servlet-name>
    <servlet-class>sis.com.image.GetImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageController</servlet-name>
    <url-pattern>/GetImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>sis.com.update.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>sis.com.admin.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAddedClass</display-name>
    <servlet-name>BookAddedClass</servlet-name>
    <servlet-class>sis.com.admin.BookAddedClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAddedClass</servlet-name>
    <url-pattern>/BookAddedClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookImageController</display-name>
    <servlet-name>BookImageController</servlet-name>
    <servlet-class>sis.com.admin.BookImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookImageController</servlet-name>
    <url-pattern>/BookImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookController</display-name>
    <servlet-name>ShowBookController</servlet-name>
    <servlet-class>sis.com.admin.ShowBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookController</servlet-name>
    <url-pattern>/ShowBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookImageController</display-name>
    <servlet-name>GetBookImageController</servlet-name>
    <servlet-class>sis.com.admin.GetBookImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookImageController</servlet-name>
    <url-pattern>/GetBookImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerList</display-name>
    <servlet-name>CustomerList</servlet-name>
    <servlet-class>sis.com.admin.CustomerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerList</servlet-name>
    <url-pattern>/CustomerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookController</display-name>
    <servlet-name>UpdateBookController</servlet-name>
    <servlet-class>sis.com.admin.UpdateBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookController</servlet-name>
    <url-pattern>/UpdateBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdatedcontroller</display-name>
    <servlet-name>BookUpdatedcontroller</servlet-name>
    <servlet-class>sis.com.admin.BookUpdatedcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdatedcontroller</servlet-name>
    <url-pattern>/BookUpdatedcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookController</display-name>
    <servlet-name>DeleteBookController</servlet-name>
    <servlet-class>sis.com.admin.DeleteBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookController</servlet-name>
    <url-pattern>/DeleteBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSong</display-name>
    <servlet-name>AddSong</servlet-name>
    <servlet-class>sis.com.admin.AddSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSong</servlet-name>
    <url-pattern>/AddSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVedioSong</display-name>
    <servlet-name>AddVedioSong</servlet-name>
    <servlet-class>sis.com.admin.AddVedioSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVedioSong</servlet-name>
    <url-pattern>/AddVedioSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAttachamentAudioUploadConroller</display-name>
    <servlet-name>StudentAttachamentAudioUploadConroller</servlet-name>
    <servlet-class>sis.com.admin.StudentAttachamentAudioUploadConroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAttachamentAudioUploadConroller</servlet-name>
    <url-pattern>/audioupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAttachamentVedioUploadConroller</display-name>
    <servlet-name>StudentAttachamentVedioUploadConroller</servlet-name>
    <servlet-class>sis.com.admin.StudentAttachamentVedioUploadConroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAttachamentVedioUploadConroller</servlet-name>
    <url-pattern>/vedioupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllAudioSong</display-name>
    <servlet-name>AllAudioSong</servlet-name>
    <servlet-class>sis.com.admin.AllAudioSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllAudioSong</servlet-name>
    <url-pattern>/AllAudioSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AudioDownlaodController</display-name>
    <servlet-name>AudioDownlaodController</servlet-name>
    <servlet-class>sis.com.admin.AudioDownlaodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AudioDownlaodController</servlet-name>
    <url-pattern>/AudioDownlaodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunAudioDownlaodController</display-name>
    <servlet-name>RunAudioDownlaodController</servlet-name>
    <servlet-class>sis.com.admin.RunAudioDownlaodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunAudioDownlaodController</servlet-name>
    <url-pattern>/RunAudioDownlaodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllVedioSong</display-name>
    <servlet-name>AllVedioSong</servlet-name>
    <servlet-class>sis.com.admin.AllVedioSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllVedioSong</servlet-name>
    <url-pattern>/AllVedioSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunVedioDownlaodController</display-name>
    <servlet-name>RunVedioDownlaodController</servlet-name>
    <servlet-class>sis.com.admin.RunVedioDownlaodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunVedioDownlaodController</servlet-name>
    <url-pattern>/RunVedioDownlaodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVedioController</display-name>
    <servlet-name>DeleteVedioController</servlet-name>
    <servlet-class>sis.com.admin.DeleteVedioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVedioController</servlet-name>
    <url-pattern>/DeleteVedioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAudioController</display-name>
    <servlet-name>DeleteAudioController</servlet-name>
    <servlet-class>sis.com.admin.DeleteAudioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAudioController</servlet-name>
    <url-pattern>/DeleteAudioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VedioDownlaodController</display-name>
    <servlet-name>VedioDownlaodController</servlet-name>
    <servlet-class>sis.com.admin.VedioDownlaodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VedioDownlaodController</servlet-name>
    <url-pattern>/VedioDownlaodController</url-pattern>
  </servlet-mapping>
</web-app>